Inmobiliaria/Inmobiliaria.Client.Controller/Service References/ServiceInmobiliaria/Service151.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2360/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" />
  <xs:import schemaLocation="http://localhost:2360/Service1.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetTodosLosEdificios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodosLosEdificiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="GetTodosLosEdificiosResult" nillable="true" type="q1:ArrayOfEdificio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryUbicaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDictionaryUbicacionesResult" nillable="true" type="q2:ArrayOfKeyValueOfUbicacionArrayOfUbicacion_Detallej0w9PRQY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEdificio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="edificio" nillable="true" type="q3:Edificio" />
        <xs:element minOccurs="0" name="pathImageOrigen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEdificioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarEdificioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEdificio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Edificio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEdificioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarEdificioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEdificio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="edificio" nillable="true" type="q4:Edificio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEdificioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarEdificioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartamentosByIdEdificio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEdificio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartamentosByIdEdificioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="GetApartamentosByIdEdificioResult" nillable="true" type="q5:ArrayOfApartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartamentosAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartamentosAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="GetApartamentosAllResult" nillable="true" type="q6:ArrayOfApartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarApartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="apartamento" nillable="true" type="q7:Apartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarApartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarApartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryInfraestructuras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryInfraestructurasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDictionaryInfraestructurasResult" nillable="true" type="q8:ArrayOfKeyValueOfInfraestructuraArrayOfInfraestructura_Detallej0w9PRQY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInfraestructuraApartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="infraestructuraApartamento" nillable="true" type="q9:Infraestructura_Apartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInfraestructuraApartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarInfraestructuraApartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInfraestructuraDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="infraestructuraDetalle" nillable="true" type="q10:Infraestructura_Detalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInfraestructuraDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarInfraestructuraDetalleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfraestructuraApartamento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfraestructuraApartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="GetInfraestructuraApartamentoResult" nillable="true" type="q11:ArrayOfInfraestructura_Apartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListServicios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListServiciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="GetListServiciosResult" nillable="true" type="q12:ArrayOfServicios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListServicioApartamento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListServicioApartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="GetListServicioApartamentoResult" nillable="true" type="q13:ArrayOfServcio_Apartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarServicioApartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="listServicios" nillable="true" type="q14:ArrayOfServicios" />
        <xs:element minOccurs="0" name="id_apartamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarServicioApartamentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="servicio" nillable="true" type="q15:Servicios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarServicioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarFotosApartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="servicio" nillable="true" type="q16:Fotos_Apartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarFotosApartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarFotosApartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotosApartamento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotosApartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="GetFotosApartamentoResult" nillable="true" type="q17:ArrayOfFotos_Apartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>